@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Henk's Social</h1>
    <p class="lead">
        Coolste netwerk ooit!
    </p>
    <p>
        <a href="/account/signin" class="btn btn-primary btn-lg">Sign In &raquo;</a>
        <a href="/account/signup" class="btn btn-primary btn-lg">Sign Up &raquo;</a>
    </p>
</div>
